@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #dfdff0;
  font-family: "General Sans", sans-serif;
}

@theme {
  --font-circular-web: "circular-web", sans-serif;
  --font-general: "general", sans-serif;
  --font-robert-medium: "robert-medium", sans-serif;
  --font-robert-regular: "robert-regular", sans-serif;
  --font-zentry: "zentry", sans-serif;
}

@font-face {
  font-family: "circular-web";
  src: url("/fonts/circularweb-book.woff2") format("woff2");
}

@font-face {
  font-family: "general";
  src: url("/fonts/general.woff2") format("woff2");
}

@font-face {
  font-family: "robert-medium";
  src: url("/fonts/robert-medium.woff2") format("woff2");
}

@font-face {
  font-family: "robert-regular";
  src: url("/fonts/robert-regular.woff2") format("woff2");
}

@font-face {
  font-family: "zentry";
  src: url("/fonts/zentry-regular.woff2") format("woff2");
}

.bento-title {
  @apply text-4xl font-black uppercase font-zentry md:text-6xl;
}

.bento-tilt-1 {
  @apply relative col-span-2 overflow-hidden rounded-md transition-transform duration-300 ease-out;
}

.bento-tilt-2 {
  @apply relative col-span-1 row-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out;
}

.border-hsla {
  border: 1px solid hsl(0 0% 100% / 0.2);
}

.nav-hover-btn {
  position: relative;
  margin-inline-start: 2.5rem;
  font-family: var(--font-general);
  font-size: 0.75rem;
  text-transform: uppercase;
  color: rgb(239, 246, 255);
  cursor: pointer;
}

.nav-hover-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  height: 2px;
  width: 100%;
  background: rgb(139, 139, 139);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav-hover-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dark .nav-hover-btn::after {
  background: white;
}

.floating-nav {
  background: black;
  border-radius: 0.5rem;
  border: 1px solid currentColor;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.special-font b {
  font-family: var(--font-zentry);
  font-feature-settings: "ss01" on;
}

.hero-heading {
  text-transform: uppercase;
  font-family: var(--font-zentry);
  font-weight: 900;
  font-size: 3rem;
}

@media (min-width: 640px) {
  .hero-heading {
    font-size: 4.5rem;
    right: 2.5rem;
  }
}

@media (min-width: 768px) {
  .hero-heading {
    font-size: 8rem;
  }
}

.about-subtext {
  position: absolute;
  bottom: -80dvh;
  left: 50%;
  width: 100%;
  max-width: 24rem;
  transform: translateX(-50%);
  text-align: center;
  font-family: var(--font-circular-web);
  font-size: 1.125rem;
}

.about-image {
  position: absolute;
  left: 50%;
  top: 0;
  height: 60vh;
  width: 24rem;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 1.5rem;
}

/* ---------------------- */
/* Animation */
/* ---------------------- */

.animated-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 0.8;
  color: white;
}

.animated-word {
  font-family: var(--font-zentry);
  font-weight: 900;
  opacity: 0;
  transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
  transform-origin: 50% 50% -150px;
  will-change: opacity, transform;
}

.story-img-container {
  @apply relative md:h-dvh h-[90vh] w-full;
  filter: url("#flt_tag");
}

.gallery-img-container {
  @apply size-64 overflow-hidden bg-violet-300;
}

.gallery-img {
  @apply size-full bg-cover;
}

.gallery-img-4 {
  @apply sm:size-80 md:h-96 md:w-[25rem] rounded-lg;
}

.story-img-mask {
  @apply absolute left-0 top-0 size-full overflow-hidden md:left-[20%] md:top-[-10%] md:size-4/5;
  clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
}

.story-img-content {
  @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
}

.sword-man-clip-path {
  clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
}

.contact-clip-path-1 {
  clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
}

.contact-clip-path-2 {
  clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
}

.indicator-line {
  height: 0.25rem;
  width: 1px;
  border-radius: 999px;
  background: white;
  transition: all 0.2s ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
  }
  50% {
    height: 16px;
    transform: translateY(-4px);
  }
  100% {
    height: 4px;
  }
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;

  position: relative;
  width: var(--uib-size);
  height: var(--uib-size);

  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  width: 30%;
  height: 30%;
}

.three-body__dot::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--uib-color);
  animation: dotPulse var(--uib-speed) ease-in-out infinite;
}

/* ---- Triangle positions ---- */
.three-body__dot:nth-child(1) {
  top: 0;
  left: 35%;
}

.three-body__dot:nth-child(2) {
  bottom: 0;
  left: 0;
}

.three-body__dot:nth-child(3) {
  bottom: 0;
  right: 0;
}

/* Stagger the pulses */
.three-body__dot:nth-child(1)::after {
  animation-delay: 0s;
}

.three-body__dot:nth-child(2)::after {
  animation-delay: 0.15s;
}

.three-body__dot:nth-child(3)::after {
  animation-delay: 0.3s;
}

@keyframes spin78236 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scale animation */
@keyframes dotPulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.6);
  }
}
